@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700;800&display=swap");

:root {
  --main-color: #3754db;
  --accent-stm-dark-mode-bg: #16171d;
}

body {
  margin: 0;
  font-family: "Rethink Sans", sans-serif;
  font-size: 16px;
}

h1 {
  color: #101c56;

  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.64px;
  margin: 0;
  margin-bottom: 12px;
}

h4 {
  color: #636363;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.4px;
  margin: 0;
}

.d-flex {
  display: flex;
}
